.topnav {
  background:rgb(204, 223, 122);
  overflow: hidden;
}

.topnav a {
  float: left;
  padding: 14px 16px;
  text-decoration: none;
}

.soundstyle-header {
  padding: 150px 15px 30px;
  text-align: center;
  font-family: "TT Rounds Neue Trial", sans-serif;
  font-weight: bold;
}

.soundstyle-subtitle {
  padding: 150px 15px 30px;
  text-align: center;
  font-family: "Krub", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.login {
  color: white;
}

#login, #loggedin {
  text-align: center;
  font-family: "Krub", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#login-button {
  margin: 30px;
  padding: 12px 20px;
  color: white;
  background-color: rgb(0, 0, 0);
  border: none;
  border-radius: 50px;
  font-family: "TT Rounds Neue Trial", sans-serif;
  font-weight: bold;
  font-size: 18px;
}

#login-button:hover {
  color: black;
  background-color: rgb(174, 194, 85);
}

.icon-wrapper {
  padding-left: 5px;
}

.logout {
  display: flex;
  justify-content: flex-end;
  color: white;
}

#logout-button {
  margin: 20px;
  padding: 12px 20px;
  color: white;
  background-color: rgb(0, 0, 0);
  border: none;
  border-radius: 50px;
  font-family: "TT Rounds Neue Trial", sans-serif;
  font-weight: bold;
  font-size: 18px;
}

#logout-button:hover {
  color: black;
  background-color: rgb(255, 255, 255);
}

.container {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
}

.sub-header {
  font-family: "TT Rounds Neue Trial", sans-serif;
  font-weight: bold;
  font-size: 25px;
}

.flower-visualiser {
  padding: 40px 80px;
  background: rgb(204, 223, 122);
  border-radius: 100px;
  order: -1;
}

.save-button {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

#save-button {
  margin: 30px 0px;
  padding: 12px 20px;
  color: white;
  background-color: rgb(0, 0, 0);
  border: none;
  border-radius: 50px;
  font-family: "TT Rounds Neue Trial", sans-serif;
  font-weight: bold;
  font-size: 18px;
}

#save-button:hover {
  color: black;
  background-color: rgb(255, 255, 255);
}

.spotify-track-data {
  flex: 1; 
  text-align: left;
  padding: 40px 80px;
  margin-left: 30px;
  font-size: 14px;
  font-family: "Krub", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: rgb(204, 223, 122);
  border-radius: 100px;
}

.data-subtitle {
  font-size: 12px;
  line-height: 3px;
}

.indicator-container {
  position: relative;
  width: fit-content; /* Set width to fit the content */
}

.overlay {
  position: absolute;
  top: 10px;
  left: 5px;
  width: 256px;
  height: 20px;
  border-radius: 5px;
  padding: 5px;
}

.data-bind-values {
  font-weight: bold;
}

.flower-visualiser-header {
  padding-bottom: 30px;
}